.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-field {
  margin: 20px 0;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.input-box {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.fetch-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
}
